<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Movie Quiz!</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="movie-search">
		<h1>Movie Lovers</h1>
		<form action="/searching" method="POST" id="search-form">
			<input type="text" name="movie">
			<button type="submit">See Results</button>
		</form>
	</div>
</body>
</html>