<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Films</title>
	<link rel="stylesheet" href="style.css">
</head>
<body class="posters">
	<% if @@gen_question == 0 %>
		<h1>Which movie is from <%= @@quiz_key %>?</h1>
	<% else %>
		<h1>Which movie was directed by <%= @@quiz_key.join("") %>?</h1>
	<% end %>
	<% @@posters.each_with_index do |poster,index| %>
	<div class="movie">
		<a href="/check_result/<%= index %>">
			<img src="<%= poster %>" alt="">
		</a>
	</div>
	<% end %>

</body>
</html>