<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Films</title>
</head>
<body style="max-width: 900px; margin: 0 auto;">
	<h1>Which movie is from <%= @@quiz_year %></h1>
	<% @@posters.each_with_index do |poster,index| %>
	<div class="movie" style="width: 25%;float:left;">
		<a href="/check_result/<%= index %>">
			<img src="<%= poster %>" alt="" style="max-height: 200px;">
		</a>
	</div>
	<% end %>

</body>
</html>