<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Here's your result</title>
</head>
<body>
	<% if @@correct %>
		<h1>YAY!!! The answer was correct</h1>
	<% else %>
		<h1>You're a movie loser. That was NOT correct</h1>
	<% end %>
	<a href="/">Go to the Beginning</a>
</body>
</html>